/* RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Rubik Mono One', sans-serif;
    
}

/*HEADER*/
.circle{
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    display: inline-block;
}

.circle-box{
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    padding: 15px 10px;
}

/* HEADER*/

/*MAIN*/

.container{
    width: 100%;
    height: 100vh;
    position: relative;
}

section {
    height: 100vh;
    position: relative;
}



.content div{
    position: relative;
    width: 100%;
    height: 100vh;
  

}

.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}

.yellow{
    background-color: yellow;
} 

#text{
    font-size: 30px;
}

.yellow-text{
    color: yellow;
}

.green-text{
    color: green;
}

